body {
	font-size: 16px;
  	color: #fff;
  	background-color: #61122f;
}

/*** HEADER ***/

#header-nav {
	background-color: #ffbf80;
	border-radius: 0;
	border: 0;
}

.navbar-brand {
	padding-left: 20px;
}

.navbar-brand h1 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
	color: #262626;
	font-family: 'Lobster', cursive;
	font-size: 30px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #61122f;
}


#nav-list {
	margin-top: 10px;
}

#collapsable-nav {
	padding: 0;
}

#wrapper {
	background-color: #0077b3;
}


ul {
	text-align: center;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 97%;
}
